# **Hands-on Activity 6.1**

Name: Pornobe, Reuel Christian
<br>
Section: CPE22S3
<br><br>
Performed on: 04/04/2025 
<br>
Submitted on: 05/04/2025 
<br>
Submitted to: Engr. Roman M. Richard

## **Exercise 1**

In [4]:
import random
random.seed(0)
salaries = [round(random.random()*1000000, -3) for _ in range(100)]

Using the data generated above, calculate the following statistics without importing anything from the statistics module in the
standard library (https://docs.python.org/3/library/statistics.html) and then confirm your results match up to those that are
obtained when using the statistics module (where possible):

- Mean
- Median
- Mode (hint: check out the Counter in the collections module of the standard library at
- https://docs.python.org/3/library/collections.html#collections.Counter)
- Sample variance
- Sample standard deviation

### Mean

In [8]:
#Mean without import from statistics module
sum = 0
for i in salaries:
    sum += i
meanAns = sum/len(salaries)
print(f"Mean: {meanAns}")

Mean: 585690.0

In [9]:
#Mean with importing from statistics module
from statistics import mean

print(f"Mean: { mean(salaries)}")

Mean: 585690.0

### Median

In [11]:
#Median without import from statistics module
#sort the the data before getting the median (just in case the data is unsorted)

sortedList = sorted(salaries)
length = len(salaries)

if (length % 2) == 1:               #if the length of the list is odd get the (n/2 + 1)
    
    medianLoc = int((length + 1) / 2)          # to ge the nth place of the median //note: i added int() because the list cannot have a float index
    print(f"The median is: {sortedList[medianLoc]}")

else:                                     # if even get the average of the n/2 term and the n/2 + 1 term
    x = int(length / 2)
    median = (sortedList[x-1] + sortedList[x]) / 2
    print(median)

589000.0

In [12]:
#Median with importing from statistics module
from statistics import median
print(f"Median: ", median(salaries))

Median:  589000.0

### Mode

In [14]:
#Mode without importing from statistics module
from collections import Counter

Counter(salaries).most_common(1) #outputs the most common in the Counter dictionary subclass (key, value)
                                 #, the value is the amount of occurence in the data

[(477000.0, 3)]

In [15]:
#Mode with importing from statistics module
from statistics import mode
print(f"Mode: {mode(salaries)}")

Mode: 477000.0

### Sample Variance

In [17]:
#Sample Variance without importing from statistics module
x = 0
for i in salaries:               
    x += (i - meanAns)**2         #get the summation of (xi - mean)^2 //I used the mean from the earlier output to shorten the code
    
sVariance = x / (len(salaries) - 1)     #then divide by n - 1 where n is the size of the data
print(f"Sample variance: {sVariance}")

Sample variance: 70664054444.44444

In [18]:
#Sample Variance with importing from statistics module
from statistics import variance

print(f"Sample variance: {variance(salaries, meanAns)}")        # added the mean to prevent recalculation of the mean

Sample variance: 70664054444.44444

### Sample Standard Deviation

In [20]:
#Sample Standard Deviation without importing from statistics module
import math
x = 0
for i in salaries:               
    x += (i - meanAns)**2         #get the summation of (xi - mean)^2 //I used the mean from the earlier output
    
sVariance = x / (len(salaries) - 1)     #then divide by n - 1 where n is the size of the data
standardDeviation = math.sqrt(sVariance)     #i used the math module for a short code
print(f"Sample Standard Deviation: {standardDeviation}")

Sample Standard Deviation: 265827.11382484

In [21]:
#Sample Standard Deviation with importing from statistics module
from statistics import stdev

print(f"Sample Standard Deviation: {stdev(salaries)}")

Sample Standard Deviation: 265827.11382484

## **Exercise 2**

Using the same data, calculate the following statistics using the functions in the statistics module where appropriate:
 1. Range
 2. Coefficient of variation Interquartile range
 3. Quartile coefficient of dispersion

### Range

In [25]:
# Range
rnge = max(salaries) - min(salaries) # get the difference between the max value and minimum value of the dataset
print(f"Range: {rnge}")

Range: 995000.0

### Coefficient of variation Interquartile range

In [27]:
# Coefficient of variation Interquartile range
import statistics as st

quantilesList = st.quantiles(salaries, n = 4) #get the list of Q1 - Q3
IQR = quantilesList[2] - quantilesList[0]     # get the interquartile range IQR = Q3 - Q1
median = st.median(salaries)

cvIQR = (IQR / median) * 100           #use the formula of CV but instead of stdev and mean, use iqr and median
print(f"CV IQR: {cvIQR}%")

CV IQR: 71.60441426146011%

*High Coefficient of Variation based on Interquartile range. Therefore, the salaries are greatly spread out or varies from each
other compared to the median value.*

### Quartile coefficient of dispersion

In [30]:
# Quartile coefficient of dispersion
import statistics as st

quantilesList = st.quantiles(salaries, n = 4)                                          #get the list of Q1 - Q3 again, then
QCD = (quantilesList[2] - quantilesList[0])/(quantilesList[2] + quantilesList[0])      # find the quotient of IQR and Q3 + Q1
print(f"QCD: {QCD}%")

QCD: 0.34491923941934166%

*Low Quartile Coefficient of Dispersion. Therefore, the middle values are not greatly varied. The employees are earning similar amounts in the middle part of the data.*

## **Exercise 3**

Load the diabetes.csv file. Convert the diabetes.csv into dataframe
Perform the following tasks in the diabetes dataframe:
1. Identify the column names
2. Identify the data types of the data
3. Display the total number of records
4. Display the first 20 records
5. Display the last 20 records
6. Change the Outcome column to Diagnosis
7. Create a new column Classification that display "Diabetes" if the value of outcome is 1 , otherwise "No Diabetes"
8. Create a new dataframe "withDiabetes" that gathers data with diabetes
9. Create a new dataframe "noDiabetes" thats gathers data with no diabetes
10. Create a new dataframe "Pedia" that gathers data with age 0 to 19
11. Create a new dataframe "Adult" that gathers data with age greater than 19
12. Use numpy to get the average age and glucose value.
13. Use numpy to get the median age and glucose value.
14. Use numpy to get the middle values of glucose and age.
15. Use numpy to get the standard deviation of the skinthickness.

In [34]:
import pandas as pd
df = pd.read_csv('diabetes.csv')

### 1. Identify the column names

In [36]:
# 1. Identify the column names
df.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

### 2. Identify the data types of the data

In [38]:
# 2. Identify the data types of the data
df.dtypes

Pregnancies                   int64
Glucose                       int64
BloodPressure                 int64
SkinThickness                 int64
Insulin                       int64
BMI                         float64
DiabetesPedigreeFunction    float64
Age                           int64
Outcome                       int64
dtype: object

### 3. Display the total number of records

In [40]:
df.isna().count() #check if there are null values

Pregnancies                 768
Glucose                     768
BloodPressure               768
SkinThickness               768
Insulin                     768
BMI                         768
DiabetesPedigreeFunction    768
Age                         768
Outcome                     768
dtype: int64

In [41]:
# 3. Display the total number of records
len(df)

768

### 4. Display the first 20 records

In [43]:
# 4. Display the first 20 records
df.head(20)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0
6,3,78,50,32,88,31.0,0.248,26,1
7,10,115,0,0,0,35.3,0.134,29,0
8,2,197,70,45,543,30.5,0.158,53,1
9,8,125,96,0,0,0.0,0.232,54,1
10,4,110,92,0,0,37.6,0.191,30,0
11,10,168,74,0,0,38.0,0.537,34,1
12,10,139,80,0,0,27.1,1.441,57,0
13,1,189,60,23,846,30.1,0.398,59,1
14,5,166,72,19,175,25.8,0.587,51,1
15,7,100,0,0,0,30.0,0.484,32,1
16,0,118,84,47,230,45.8,0.551,31,1
17,7,107,74,0,0,29.6,0.254,31,1
18,1,103,30,38,83,43.3,0.183,33,0
19,1,115,70,30,96,34.6,0.529,32,1

### 5. Display the last 20 records

In [45]:
# 5. Display the last 20 records
df.tail(20)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
748,3,187,70,22,200,36.4,0.408,36,1
749,6,162,62,0,0,24.3,0.178,50,1
750,4,136,70,0,0,31.2,1.182,22,1
751,1,121,78,39,74,39.0,0.261,28,0
752,3,108,62,24,0,26.0,0.223,25,0
753,0,181,88,44,510,43.3,0.222,26,1
754,8,154,78,32,0,32.4,0.443,45,1
755,1,128,88,39,110,36.5,1.057,37,1
756,7,137,90,41,0,32.0,0.391,39,0
757,0,123,72,0,0,36.3,0.258,52,1
758,1,106,76,0,0,37.5,0.197,26,0
759,6,190,92,0,0,35.5,0.278,66,1
760,2,88,58,26,16,28.4,0.766,22,0
761,9,170,74,31,0,44.0,0.403,43,1
762,9,89,62,0,0,22.5,0.142,33,0
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

### 6. Change the Outcome column to Diagnosis

In [47]:
# 6. Change the Outcome column to Diagnosis
df.rename(columns={'Outcome':'Diagnosis'}, inplace=True) # addded inplace = True to make the changes reflect in the original datafram
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Diagnosis
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

### 7. Create a new column Classification that display "Diabetes" if the value of outcome is 1 , otherwise "No Diabetes"

In [49]:
# 7. Create a new column Classification that display "Diabetes" if the value of outcome is 1 , otherwise "No Diabetes"        
df['Classification'] = df['Diagnosis'].apply(lambda x: 'Diabetes' if x == 1 else 'No Diabetes') # use a the apply method then use a function to create
df                                                                                              # new values in the new column

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Diagnosis,Classification
0,6,148,72,35,0,33.6,0.627,50,1,Diabetes
1,1,85,66,29,0,26.6,0.351,31,0,No Diabetes
2,8,183,64,0,0,23.3,0.672,32,1,Diabetes
3,1,89,66,23,94,28.1,0.167,21,0,No Diabetes
4,0,137,40,35,168,43.1,2.288,33,1,Diabetes
...,...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0,No Diabetes
764,2,122,70,27,0,36.8,0.340,27,0,No Diabetes
765,5,121,72,23,112,26.2,0.245,30,0,No Diabetes
766,1,126,60,0,0,30.1,0.349,47,1,Diabetes
767,1,93,70,31,0,30.4,0.315,23,0,No Diabetes

### 8. Create a new dataframe "withDiabetes" that gathers data with diabetes

In [51]:
#8. Create a new dataframe "withDiabetes" that gathers data with diabetes
withDiabetes = pd.DataFrame(df[df.Classification == 'Diabetes'])        #get the data from the dataframe with diabetes
withDiabetes

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Diagnosis,Classification
0,6,148,72,35,0,33.6,0.627,50,1,Diabetes
2,8,183,64,0,0,23.3,0.672,32,1,Diabetes
4,0,137,40,35,168,43.1,2.288,33,1,Diabetes
6,3,78,50,32,88,31.0,0.248,26,1,Diabetes
8,2,197,70,45,543,30.5,0.158,53,1,Diabetes
...,...,...,...,...,...,...,...,...,...,...
755,1,128,88,39,110,36.5,1.057,37,1,Diabetes
757,0,123,72,0,0,36.3,0.258,52,1,Diabetes
759,6,190,92,0,0,35.5,0.278,66,1,Diabetes
761,9,170,74,31,0,44.0,0.403,43,1,Diabetes
766,1,126,60,0,0,30.1,0.349,47,1,Diabetes

### 9. Create a new dataframe "noDiabetes" thats gathers data with no diabetes

In [53]:
#9. Create a new dataframe "noDiabetes" thats gathers data with no diabetes
noDiabetes = pd.DataFrame(df[df.Classification == 'No Diabetes'])       #get the data from the dataframe without diabetes
noDiabetes

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Diagnosis,Classification
1,1,85,66,29,0,26.6,0.351,31,0,No Diabetes
3,1,89,66,23,94,28.1,0.167,21,0,No Diabetes
5,5,116,74,0,0,25.6,0.201,30,0,No Diabetes
7,10,115,0,0,0,35.3,0.134,29,0,No Diabetes
10,4,110,92,0,0,37.6,0.191,30,0,No Diabetes
...,...,...,...,...,...,...,...,...,...,...
762,9,89,62,0,0,22.5,0.142,33,0,No Diabetes
763,10,101,76,48,180,32.9,0.171,63,0,No Diabetes
764,2,122,70,27,0,36.8,0.340,27,0,No Diabetes
765,5,121,72,23,112,26.2,0.245,30,0,No Diabetes
767,1,93,70,31,0,30.4,0.315,23,0,No Diabetes

### 10. Create a new dataframe "Pedia" that gathers data with age 0 to 19

In [55]:
# 10. Create a new dataframe "Pedia" that gathers data with age 0 to 19
Pedia = pd.DataFrame(df[(df.Age <= 19) & (df.Age >= 0)])
Pedia

Empty DataFrame
Columns: [Pregnancies, Glucose, BloodPressure, SkinThickness, Insulin, BMI, DiabetesPedigreeFunction, Age, Diagnosis, Classification]
Index: []

*No data from age 0 to 19*

### 11. Create a new dataframe "Adult" that gathers data with age greater than 19

In [58]:
# 11. Create a new dataframe "Adult" that gathers data with age greater than 19
Adult = pd.DataFrame(df[(df.Age > 19)])
Adult

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Diagnosis,Classification
0,6,148,72,35,0,33.6,0.627,50,1,Diabetes
1,1,85,66,29,0,26.6,0.351,31,0,No Diabetes
2,8,183,64,0,0,23.3,0.672,32,1,Diabetes
3,1,89,66,23,94,28.1,0.167,21,0,No Diabetes
4,0,137,40,35,168,43.1,2.288,33,1,Diabetes
...,...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0,No Diabetes
764,2,122,70,27,0,36.8,0.340,27,0,No Diabetes
765,5,121,72,23,112,26.2,0.245,30,0,No Diabetes
766,1,126,60,0,0,30.1,0.349,47,1,Diabetes
767,1,93,70,31,0,30.4,0.315,23,0,No Diabetes

### 12. Use numpy to get the average age and glucose value.

In [60]:
# 12. Use numpy to get the average age and glucose value.
import numpy as np
aveA = np.average(df['Age'])
aveG = np.average(df['Glucose'])
print(f"Average Age: {aveA}, Average Glucose: {aveG}")

Average Age: 33.240885416666664, Average Glucose: 120.89453125

### 13. Use numpy to get the median age and glucose value.

In [62]:
# 13. Use numpy to get the median age and glucose value.

medianA = np.median(df['Age'])
medianG = np.median(df['Glucose'])
print(f"Median Age: {medianA}, Median Glucose: {medianG}")

Median Age: 29.0, Median Glucose: 117.0

### 14. Use numpy to get the middle values of glucose and age.

In [64]:
# 14. Use numpy to get the middle values of glucose and age.

medianA = np.median(df['Age'])                                 
medianG = np.median(df['Glucose'])
print(f"Median Age: {medianA}, Median Glucose: {medianG}")

Median Age: 29.0, Median Glucose: 117.0

### 15. Use numpy to get the standard deviation of the skinthickness.

In [66]:
# 15. Use numpy to get the standard deviation of the skinthickness.
stdST = np.std(df['SkinThickness'])
print(f"Standard Deviation: {stdST}")

Standard Deviation: 15.941828626496978

## **Conclusion**

In this lab activity, I learned how to read the documentations and search in the documentations the parameters of each
functions I need to use. Furthermore, I was able to refresh my knowledge on Exploratory Data Analysis while I was interpreting
standard deviation, Coefficient of Variation, CV using Interquartile range, and Quartile Deviation. Overall, I was able to
analyze the data using statistics module, pandas, and numpy.